.create_new_tweet {
  border-bottom: solid var(--background-color) 1px;
  padding: 10px 20px;
  display: flex;
}

.user_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: aqua;
}
.tweet_input_box{
  border: none;
  width: 100%;
  overflow: auto;
  margin-left: 5px;
  margin-top: 15px;
  min-height: 40px;
  max-height: 100px;
  resize: none;
  font-size: 1.1rem;
  text-align: start;
}
.create-tweet-button {
  background-color: var(--twitter-color);
  margin-left: auto;
  padding: 10px 12px;
  color: white;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
}
.create-tweet-button:hover {
  background-color: hsl(202.8, 89.1%, 43.1%);
}

.gif_div{
  border: 1px solid var(--twitter-color);
  width: 18px; height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.tweet_actions{
  display: flex;
  margin-top: 10px;
}
.create_new_tweet_box{
  flex: 5; 
  display: flex;
  flex-direction: column;
}
::placeholder{
  font-size: 20px;
  text-overflow: ellipsis;
  font-size: 1.1rem;
}
.tweet_action{
margin-left: 5px;
}