.tweet {
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-bottom: solid 2px var(--background-color);
}
.tweet_creator {
  font-weight: bold;
}
.tweet_username {
  color: grey;
  margin-left: 5px;
}
.tweet_box {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  flex: 5;
  justify-content: baseline;
}

.tweet_post {
  margin-top: 5px;
}

.twitter_action_button.tweet__user_actions {
  color: rgb(83, 100, 113) !important;
}

.tweet__user_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
