@import "./css/sidebar.css";
@import "./css/home.css";
@import "./css/create_tweet.css";
@import "./css/tweets_list_view.css";
@import "./css/login.css";

* {
  margin: 0;
  --background-color: rgb(247, 249, 249);
  --twitter-color: hsl(202.8, 89.1%, 53.1%);
  --twitter-disabled-color: hsl(202.8, 89.1%, 73.1%);
  --twitter-background-hover-color: rgba(29, 161, 242, 0.1);
}

.page_title {
  font-weight: 800;
}
.divider{
  height: 10px;
  background-color: var(--background-color);
}

textarea:focus, input:focus{
  outline: none;
}

.twitter_action_button{
  width: 30px; height: 30px;
  background-color: transparent;
  border: none;
  margin-top: 4px;
  /* padding:1px; */
  color: transparent;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.twitter_action_button:hover{
  background-color: var(--twitter-background-hover-color);
}
.MuiSvgIcon-root{
  color: hsl(202.8, 89.1%, 53.1%);
}